body {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container {
  height: 32vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.container button {
  padding: 10px;
  margin-right: 10px;
}

p {
  color: white;
  padding: 10px;
}

.Question1 {
  display: block;
}

.Question2 {
  display: none;
}

.Question3 {
  display: none;
}

img {
  width: 300px;
  height: 150px;
}

.reward {
  display: none;
}
